{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "no-use-before-define": ["error", "nofunc"],
    "@typescript-eslint/no-use-before-define": ["error", "nofunc"],
    "import/prefer-default-export": "off",
    "@typescript-eslint/indent": ["error", 2]
  }
}
